.occupation-section,
.team-section,
.clients-section {
  padding-bottom: 94px;
}

.advanteges-section,
.team-section,
.clients-section {
  padding-top: 94px;
}

.advanteges-section {
  padding-bottom: 47px;
}

.occupation-section {
  padding-top: 47px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
