// заголовки секций

.selection-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
