// Тип блочной модели элементов
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// сбрасываем отступы строчных img
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body {
  background-color: var(--secondary-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;

  padding-top: var(--height-header-page);
}
